---
import '@fontsource-variable/onest';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import { ClientRouter } from 'astro:transitions';

interface Props {
	description: string;
	title: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="cleaning service, deep cleaning, maid service, Jersey City cleaning service,
      New Jersey cleaning service, post-construction cleaning, move-out cleaning, carpet cleaning, magical cleaning">

    <meta property="og:title" content={title}>
    <meta property="og:description" content={description} >
    <meta property="og:image" content="URL de la imagen">
    <meta property="og:url" content="https://magical-cleaningservice.com">
    <meta property="og:type" content="website">


		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
    <ClientRouter />
	</head>
	<body class="overflow-hidden overflow-y-auto bg-body">
		<Header />
		<slot />
		<Footer />
	</body>

<script data-astro-rerun>
  function initializeMenu() {
    const toggleMenu = document.querySelector("[data-toggle-nav]");
    const navbar = document.querySelector("[data-navbar]");
    const overlayNav = document.querySelector("[data-nav-overlay]");
    if (toggleMenu) {
      toggleMenu.addEventListener("click", e => {
        e.preventDefault();
        if (toggleMenu.getAttribute("data-open-nav") === "false") {
          toggleMenu.setAttribute("data-open-nav", "true");
          overlayNav.setAttribute("data-is-visible", "true");
          document.body.classList.add("!overflow-y-hidden");
          navbar.style.height = `${navbar.scrollHeight}px`;
        } else {
          toggleMenu.setAttribute("data-open-nav", "false");
          overlayNav.setAttribute("data-is-visible", "false");
          document.body.classList.remove("!overflow-y-hidden");
          navbar.style.height = "0px";
        }
      });

      navbar.addEventListener("click", () => {
        toggleMenu.setAttribute("data-open-nav", "false");
        overlayNav.setAttribute("data-is-visible", "false");
        document.body.classList.remove("!overflow-y-hidden");
        navbar.style.height = "0px";
      });

      overlayNav.addEventListener("click", () => {
        toggleMenu.setAttribute("data-open-nav", "false");
        overlayNav.setAttribute("data-is-visible", "false");
        document.body.classList.remove("!overflow-y-hidden");
        navbar.style.height = "0px";
      });
    }
  }

  document.addEventListener('astro:page-load', initializeMenu);
  document.addEventListener('astro:after-swap', initializeMenu);
</script>
  
</html>
<style is:global>
  :root {
    --color-bg: 255 242 251;
    --color-border: 255 255 255;
    --color-box: 255 255 255;
    --box-border: 229 231 235;
    --box-sd: 226 232 240 / 0.5;
	--heading-1:  23 37 84;
	--heading-2: 31 41 55;
	--heading-3: 55 65 81;
  }

  .dark {
    --color-bg: 3 7 18;
    --color-box: 17 24 39;
    --box-border: 243 244 246/0.1;
    --box-sd: transparent;

	
	--heading-1:  255 255 255;
	--heading-2:  243 244 246;
	--heading-3:  209 213 219;
  }

  html{
    scroll-behavior: smooth;
  }
  body {
    font-family: 'Onest Variable', sans-serif;
  }

  [data-toggle-nav][data-open-nav="true"] #line1 {
    transform: translateY(0.375rem) rotate(40deg);
  }
  [data-toggle-nav][data-open-nav="true"] #line2 {
    transform: scaleX(0);
    opacity: 0;
  }
  [data-toggle-nav][data-open-nav="true"] #line3 {
    transform: translateY(-0.375rem) rotate(-40deg);
  }

  
  [data-nav-overlay][data-is-visible="true"] {
    visibility: visible;
    display: flex;
  }

#header-nav {
    animation: blur-light linear both;
    animation-timeline: scroll();
    animation-range: 0 500px;
  }

  @keyframes blur-light {
    to {
      box-shadow: 0px 5px 50px -5px rgba(0, 0, 0, 0.1), 0px 0px 0 1px rgba(0, 0, 0, 0.1);
      background: rgba(255, 242, 251, 0.5);
      backdrop-filter: blur(10px);
    }
  }

  .dark #header-nav {
    animation: blur-dark linear both;
    animation-timeline: scroll();
    animation-range: 0 500px;
  }

  @keyframes blur-dark {
    to {
          box-shadow:
            0px 5px 50px -5px rgba(0, 0, 0, 0.1),
            0px 0px 0 1px rgba(0, 0, 0, 0.1);
          background: rgba(49, 40, 49, 0.3);
          backdrop-filter: blur(10px);
        }
  }
</style>